.height {
  margin-left: 20px;
  height: 50vh;
}

.card {
  width: 400px;
  height: 430px;
}

.image {
  position: absolute;
  right: 12px;
  top: 10px;
}

.mainHeading {
  font-size: 30px;
  color: red !important;
}

.ratings i {
  color: orange;
}

.userRatings h6 {
  margin-top: 2px;
}

.btnDanger {
  margin-top: 40px;
  height: 48px;
  font-size: 18px;
}
